<?xml version="1.0"?>
<config>
  <modules>
    <YotpoSupport_ExportCatalog>
      <version>0.1.0</version>
    </YotpoSupport_ExportCatalog>
  </modules>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
              <YotpoSupport_ExportCatalog before="Mage_Adminhtml">YotpoSupport_ExportCatalog</YotpoSupport_ExportCatalog>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <global>
    <blocks>
      <exportcatalog>
          <class>YotpoSupport_ExportCatalog_Block</class>
      </exportcatalog>
    </blocks>
    <helpers>
      <exportcatalog>
        <class>YotpoSupport_ExportCatalog_Helper</class>
      </exportcatalog>
    </helpers>
    <models>
      <exportcatalog>
          <class>YotpoSupport_ExportCatalog_Model</class>
      </exportcatalog>
    </models>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <exportcatalog>
                      <title>Yotpo Support - Export Product Catalog</title>
                    </exportcatalog>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>